<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Connector Log
    </p>
    <p class="subtitle">
      Simply pick the json file you want and then click the Analyze button.<strong>It's that simple!</strong>
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">
      Connector Log
    </h1>
    <%= form_with url: '/log-entries', multipart: true do |f| %>
    	<div class="file">
			  <label class="file-label">
			  	<%= f.file_field :log_entries, class: "log file-input" %>
			    <span class="file-cta">
			      <span class="file-icon">
			        <i class="fas fa-upload"></i>
			      </span>
			      <span class="file-label">
			        Choose a file...
			      </span>
			      
			    </span>
			    <span class="file-name"></span>
			  </label>
			</div>
			<div class="sbt control">
    		<%= f.submit 'Analyze', class: "button is-primary" %>
    	</div>
    <% end %>
  </div>
</section>

<section>
	<div class="container">
		<p class="subtitle is-5"><i class="far fa-check-square"></i><span class="spacer">1.  Read &amp; parse all the data provided.</span></p>
		<p class="subtitle is-5"><span class="spacer">2. For each entry marked with an UNKNOWN disposition, perform a database lookup to determine:
		<ul class="items">
			<li><i class="far fa-check-square"></i><span class="spacer">Whether the file has been seen before &ndash; if so increment the database count (`cnt`) by 1</li>
			<li><i class="far fa-check-square"></i><span class="spacer">Whether the file is new &ndash; if so insert a new entry with `count == 1` and disposition (`dp`) == UNKNOWN</li>
		</ul>
		<p class="subtitle is-5"><span class="spacer">3.  We know the cloud server is malfunctioning, what types of patterns or anomalies did you observe? If possible, what types of problem hypothesis can you form from your observations?</p>

		<ol class="answers">
			<li><p class="subtitle is-5">Multiple entries have similar timestamps within a few seconds of each other.</p></li>
			<li><p class="subtitle is-5">No processing time > 100.  Not sure what 100 is.  Could be 100s, 100ms, not stated.</p></li>
			<li><p class="subtitle is-5">The json presented is not valid in its present state.  It needs to be wrapped in [ ] brackets and each object needs a comma after it.</p></li>
		</ol>

 		<p style="margin: 2em;" class="subtitle is-5"><strong>General Thoughts:</strong><br />The first time I attempted to write this code, I just simply opened the json document and loaded it line by line.  For each line I executed the logic.  I found that this took a very long time when dealing with such a huge json file.  I was seeing times ranging from 4.5 minutes up to 6 minutes.</p>
 		<p style="margin: 2em;" class="subtitle is-5">So like any good developer, I set out to find what was causing the performance issue.  I was blocking in the main Rails application.  I solved this by introducing a background processor Sidekiq which uses Redis in the background to store jobs and arguments.  Now the UI is unblocked and all the processing and logic happens in the background.</p>
 		<p style="margin: 2em;" class="subtitle is-5">While probably not necessary for this tool, it shows the importance of keeping the UI of the application smooth and responsive while still executing required logic.  It's hard to say what is going on with the cloud server since I don't fully understand what its supposed to be doing when working properly.</p>
	</div>
</section>