// Place all the styles related to the debugger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bulma";

div.sbt {
	margin-top: .5em;
}

.panel-info {
	border-radius: 5px;
	padding: 5px;
}

.red-heart {
	color: red;
}

.spacer {
	padding-left: .5em;
}

ul.items {
	margin-bottom: 1.6em;
	margin-left: 2em;
	li {
		padding-left: .5em;
		margin-bottom: 8px;
		font-size: 1.1rem;
	}
}

ol.answers {
	margin-left: 3em;
}