<!DOCTYPE html>
<html>
  <head>
    <title>LogDebugger</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <footer class="footer">
		  <div class="content has-text-centered">
		    <p>
		      <strong>Connector Log</strong>, made with <span class="red-heart"><i class="fas fa-heart"></i></span> by Matthew McFarling.  March <%= Date.today.year %>.
		    </p>
		  </div>
		</footer>
  </body>
</html>
